
.MainPage {
    padding: 12px;
    row-gap: 10px;
}

.AddTaskBtn {
    border: none;
    background: linear-gradient(315deg, #5078f2 0%, #b78fd8 74%);
    padding: 10px 20px;
    border-radius: 8px;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    font-family: 'Orbitron', sans-serif; /* Fix syntax and add fallback sans-serif */
}

.AddTaskBtn:hover {
    cursor: pointer;
    border: none;
    scale: 1.08;
    background: linear-gradient(315deg, #b78fd8 0%, #5078f2 74%);
    color: #efe9f4; /* Fix color property */
}
/* //modal conatiner */

.modal-container {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .modal-content {
    position: relative;
    background: linear-gradient(210deg, #898a8c 0%, #ded1d1 74%);
    padding: 10px;
    height:14rem;
    width: max-content;
    min-width: 15rem;
    border-radius: 8px;
    animation: slideIn 0.5s ease-out;
  }

  @media only screen and (min-width : 420px) {
  .modal-content {
    min-width: 25rem;
  }
    
  }
  
  .close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
  }
  
  /* Optional: Add backdrop filter for a blur effect */
  .modal-container {
    backdrop-filter: blur(5px);
  }

  .add_Task_Section{
    width: 100%;
    position: absolute;
    row-gap: 10px;
  }
  .add_Task_Section .error {
    font-size: 10px;
    color: red;
    margin-top: -10px;
    font-weight: 700;
  }
  .add_Task_Section input {
    border-radius: 4px;
    border: 2px solid #5078f2;
    padding: 6px 10px;
    width: 23rem;
    outline: none;
    font-family: 'Orbitron', sans-serif; 
}

.add_Task_Section input::placeholder {
font-size: 12px;
font-family: 'Orbitron', sans-serif; 

}

  .add_Task_Section input:active {
    outline: red;
  }

  .add_Task_Section input:hover {
    outline: red;
    border: 2px solid #ac7ad4;
  }


  .children_Section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    height: 70vh;
    width: 100%;
    position: relative;

  }

  .container_section {
    position: relative;
padding: 10px;
width: 100%;
border-radius: 5px;
background: #9ad0df;
height: max-content;
max-height: 77vh;
overflow: auto;
font-size: 10px;
font-weight: 500;

  }

  .container_section_child .titleSection {
    background: #84a1f0;
    height: max-content;
    padding: 8px;
    /* padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px; */
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10px;
    font-size: 16px;
    font-weight: 700;
  }

  .titleSection .totalnoVal{
    background: rgb(197, 214, 230);
    width: max-content;
    height: max-content;
    padding: 4px;
    display: block;
    border-radius: 12px;
    text-align: center;
  
  }

  .container_section_child .cardSection{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 10px;
  }

  .card{
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background: linear-gradient(315deg, #84a1f0 0%, #bbbfca 74%);
    cursor: pointer;
  }


  .card .value_and_status{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  height: max-content;
  }


