@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@100;200;300;400;500;600;700;800;900&family=Protest+Revolution&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', 'Protest Revolution', 'Roboto+Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
